body {
background-image:url(http://www.intrawallpaper.com/static/images/gradient-background.jpg);
}




h1.intro {
	color:red;
}


nav {

	background-color: rgb(51, 51, 51);
}

.browser-image {

	width:100%;
}
